<div id="viewPlannerItems">
    <div id="rootContainer"></div>
    <p>
        <button onclick="startTaskCreation();">Add Task</button><button onclick="addRootCategory();">Add Category</button>
    </p>
    <p>Legend:</p>
    <div style="line-height: 22px;">
        <div id="neverCompletedLegend" class="statusCircle inlineCircle"></div> = Never completed<br />
        <div id="completedLegend" class="statusCircle inlineCircle"></div> = Completed<br />
        <div id="upcomingLegend" class="statusCircle inlineCircle"></div> = Due date is upcoming<br />
        <div id="graceLegend" class="statusCircle inlineCircle"></div> = Grace period after due date<br />
        <div id="overdueLegend" class="statusCircle inlineCircle"></div> = Overdue<br />
        <div id="inactiveLegend" class="statusCircle inlineCircle"></div> = Out of season
    </div>
</div>
<div id="editTask" style="display: none;">
    <p>
        Task name: <input id="editTaskName" style="width: 150px;" />
    </p>
    <p>
        Schedule type:
        <select id="scheduleType" onchange="handleScheduleTypeChange();">
            <option value="noDueDate">No due date</option>
            <option value="singleDueDate">Single due date</option>
            <option value="repeatingDueDate">Repeating due date</option>
        </select>
    </p>
    <p id="editFrequencyRow">
        Frequency: <input id="editFrequency" onblur="updateEditDueDate();" style="width: 80px;" /> days
    </p>
    <p id="editDueDateRow">
        <span id="editDueDateLabel"></span> <input id="editDueDate" type="date" style="margin-right: 15px;" />
        <span id="isManualContainer">
            <input id="dueDateIsManual" type="checkbox" onchange="updateEditDueDate();" /> Manual override
        </span>
    </p>
    <p>Active months:</p>
    <div id="editActiveMonths" style="display: flex; align-items: center;"></div>
    <p>
        Parent category:
        <select id="editParentCategory"></select>
    </p>
    <p>
        Notes:<br />
        <textarea id="editTaskNotes" style="width: 300px; height: 80px;"></textarea>
    </p>
    <p>
        <button onclick="saveTask();">Save Task</button><button onclick="cancelTaskEdit();">Cancel</button>
    </p>
</div>
<div id="viewTask" style="display: none;">
    <p>
        <a onclick="viewPlannerItems();">Return to Task List</a>
    </p>
    <p>
        Task name: <span id="viewTaskName"></span>
    </p>
    <p id="viewDueDate"></p>
    <p id="viewActiveMonths"></p>
    <p>
        Parent category: <span id="viewParentCategory"></span>
    </p>
    <p id="viewTaskNotes"></p>
    <p>
        <button onclick="startTaskEdit();">Edit Task</button><button onclick="deleteTask();">Delete Task</button>
    </p>
    <p>
        <strong>Add New Completion:</strong>
    </p>
    <div style="margin-left: 20px;">
        <p>
            Date: <input id="newCompletionDate" type="date" style="margin-right: 15px;" />
            <input id="dateIsApproximate" type="checkbox" /> Date is approximate
        </p>
        <p>
            Notes:<br />
            <textarea id="newCompletionNotes" style="width: 300px; height: 80px;"></textarea>
        </p>
        <p>
            <button onclick="saveNewCompletion();">Save Completion</button>
        </p>
    </div>
    <p>
        <strong>Past Completions:</strong>
    </p>
    <div id="pastCompletions" style="border: 1px #AAAAAA solid; padding: 10px; padding-left: 20px; max-height: 200px; overflow-y: scroll;"></div>
</div>
<p>
    <a href="/changePassword">Change Password</a> | <a href="/logout">Log Out</a>
</p>
<script>
initializePage();
</script>


