<html>
    <head>
        <title>Upkeep Planner</title>
        <script src="/javascript/global.js"></script>
        {{#scripts}}
            <script src="{{{.}}}"></script>
        {{/scripts}}
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/global.css" />
        {{#stylesheets}}
            <link type="text/css" rel="stylesheet" media="all" href="{{{.}}}" />
        {{/stylesheets}}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id="content" style="width: {{contentWidth}}px;">
            <div style="margin-top: 13px; margin-bottom: 13px;">
                <div style="float: left;">
                    <h2 style="margin: 0px;">UPKEEP PLANNER</h2>
                </div>
                <div id="saveMessage" style="float: right;"></div>
                <br style="clear: both;" />
            </div>
            {{{content}}}
        </div>
    </body>
</html>
