
body {
    font-family: Arial;
    font-size: 16px;
    background: #777777;
    margin: 0px;
}

.paragraph {
    margin-top: 13px;
    margin-bottom: 13px;
}

#content {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
}

a {
    color: #000000;
    text-decoration-line: underline;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.statusCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.inlineCircle {
    display: inline-block;
    vertical-align: -2px;
}

.screenshot {
    border: 3px #AAAAAA solid;
}
