
.plannerItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plannerItemRow {
    display: flex;
    align-items: center;
}

.completion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.activeMonth {
    text-align: center;
    margin-right: 10px;
}

.statusCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.inlineCircle {
    display: inline-block;
    vertical-align: -2px;
}

button {
    margin-right: 5px;
}


